*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e272e;
}

.container{
    max-width: 1400px;
    margin:0 auto
}

.inputDiv{
    max-width: 800px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input{
    width: 600px;
    font-size: 23px;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 25px;
}

button{
    font-size: 23px;
    padding: 5px;
    border: none;
    outline: none;
    color: white;
    background-color: #1e272e;
    cursor: pointer;
}
h1{
    color: orange;
    margin-bottom: 30px;
}

/* ------------main---------------- */
.main{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}

.box{
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

img{
    width: 200px;
    border-radius: 15px;
}

h4{
    color: white;
    padding: 5px;
}

.show_details{
    background-color: orange;
    color: black;
    border-radius: 20px;
    margin: 20px 0px;
}

